<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%='hello'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam
      praesentium assumenda et, commodi quisquam eligendi a culpa quas delectus
      veniam optio molestias tenetur dignissimos facere sint vero. Reiciendis,
      aspernatur nisi! Pariatur architecto, eligendi voluptatibus aliquid
      accusamus ullam eveniet aliquam culpa quis ad saepe deleniti eaque ipsa.
      Sit sunt reiciendis iure nulla officiis excepturi quasi voluptatibus et?
      Soluta fuga harum sunt.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ex
      distinctio temporibus ipsa magni obcaecati unde, ratione modi eos deleniti
      cumque a voluptas quam maiores, rem sit itaque. Suscipit, repellat.
    </p>
  </body>
</html>
